$main_color: #7200e0;
$secondary_color: blue;

$first_font_size: 16px;
$second_font_size: 18px;
$third_font_size: 24px;



.site-button{
    background-color: $main_color;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.site-button:hover{
    color: black;
}

.menu-header{
    text-align: center;
    padding: 15px;

    a{
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 18px;
    } 

    .logo{
        width: 10vw !important;
    }

    .button{
        padding: 10px 20px;
        border-radius: 15px;
        height: 10%;
        color: white;
        background-color: $main_color;
    }

    .button:hover{
        color: yellow;
    }
}

.cards{
    padding-top: 25px;
    margin-left: 0 !important; 
    margin-right: 0 !important;

    .card{
        border-radius: 0 0 15px 15px;
        padding: 0px !important;
        text-decoration: none;
        margin-right: 0px;

        .img{
            position: relative;
            z-index: 1;

            .post_text{
                position: absolute;
                display: none;
                top: 45%;
                left: 25%;
                color: white;
                font-size: 22px;
                font-weight: 600;
            }

            .background{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

        .name{
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
        }

        .text{
            color: gray;
        }

        .info{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .left{
                .persent{
                    margin-bottom: 0px;
                    color: $main_color;
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .right{
                .summ{
                    margin-bottom: 0px;
                    font-size: 22px;
                    font-weight: 500;
                }

            }

            .info_text{
                color: gray;
                text-transform: uppercase;
            }
        }
    }

    .card:hover{
        box-shadow: 0px 0px 10px black;
        
        img{
            filter: blur(3px);
        }

        .background{
            background-color: $main_color;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }

        .post_text{
            z-index: 3;
            display: block;
        }
    }
}

.lost_cards{
    padding-top: 25px;
    margin-left: 0 !important; 
    margin-right: 0 !important;

    .lost_cards_animal{
        border-radius: 0 0 15px 15px;
        padding: 0px !important;
        margin-right: 0px;

        .img{
            position: relative;
            z-index: 1;

            .post_text{
                position: absolute;
                display: none;
                top: 45%;
                left: 25%;
                color: white;
                font-size: 22px;
                font-weight: 600;
            }

            .background{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }

    .lost_cards_animal:hover{
        box-shadow: 0px 0px 10px black;
        
        img{
            filter: blur(3px);
        }

        .background{
            background-color: $main_color;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }

        .post_text{
            z-index: 3;
            display: block;
        }
    } 
}

.main-big-text{
    font-size: 62px !important;
    font-weight: 300;
}

.why-use-services{
    text-align: center;
    margin-right: 0 !important;
    margin-bottom: 50px;

    div{
        margin-top: 30px;

        img{
            margin-bottom: 10px;
        }

        p{
            width: 50%;
            margin: 0 auto;
        }
    }
}

.now-shelters{
    color: white;
    padding: 10vw;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 50px;

    .row-post{
        padding: 10px;
        border: 3px solid white;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 0 auto;

        .big-name{
            font-size: 62px;
            font-weight: 800;
        }

        .small-name{
            font-size: 32px;
            font-weight: 500;
            margin-top: -25px !important;
        }
    }
}

.now-shelters::before{
    background-image: url('/static/img/imgForSite/shelter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    filter: blur(10px);
    position: absolute;
    z-index: -1;
    content: "";
    margin: 0 -15px 0 -15px;
    left: 0; right: 0; top: 0; bottom: 0;
}

.help-us{
    width: 80%;
    margin: 0 auto;
    text-align: center;

    .row{
        margin-top: 30px;

        img{
            width: 80%;
            margin: 0 auto;
        }        
    }
}

.main-button{
    margin: 0 auto;
    text-align: center;
}

.main-button a{
    padding: 10px 20px;
    border: 1px solid $main_color;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: $main_color;
    font-size: $second_font_size;   
}

.how-help{
    margin-top: 5vw;
    background-color: rgba(247, 222, 77, 0.2);
    padding: 10vw;
    margin-bottom: 50px;
}

.small-post-help{
    div{
        text-align: center;
        margin: 0 auto;

        div{
            background-color: rgba(114, 177, 255, 0.2);
            padding: 20px;
            border-radius: 300px;
            width: 100px;
            height: 100px;

            img{
                width: 100%;
                margin-top: 12px;
            }
        }   
        
        div:hover{
            box-shadow: 0px 0px 10px $main_color;
        }
    }
}

.teke-animal-home{
    margin-top: 20px;
    height: 200px;

    .col-4{
        img{
            background-color: $main_color;
            border-radius: 200px;
            width: 90%;
        }
    }

    .col-8{
        margin: auto 0;
    }
}

.teke-animal-home:hover{
    .col-4{
        img{
            box-shadow: 0px 0px 10px black;
        }
    }
}

.main-text-take-home{
    font-size: $third_font_size;
    color: $main_color;
}

.text-take-home{
    font-size: $second_font_size;
}

.last-help-list{
    background-color: white;
    padding: 20px;
    border-radius: 15px;

    .line-help-main-text{
        text-align: center;
        font-size: $third_font_size;
    }
}

.all_help_description{
    .name{
        font-size: 24px;
        margin-bottom: 0px;
    }

    .city{
        font-size: 18px;
        color: gray;
    }

    .help_description{
        text-align: center;
        width: 40%;
    }

    .main-info{
        display: flex;
        align-items: center;

        .pick_up_anival{
            margin-left: 20px;
        }
    }
}

.help_money{
    width: 60%;
    border: 1px solid $main_color;
    box-shadow: 0px 0px 5px black;
    padding: 2%;

    .main{
        color: $main_color;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .description{
        color: gray;
    }

    .input_money{
        border: 1px solid $main_color;
        border-radius: 5px;
    }

    // .send_money{
    //     background-color: $main_color;
    //     text-align: center;
    //     padding: 10px 30px;
    //     text-decoration: none;
    //     color: white;
    //     border-radius: 5px;
    // }

    .what_is_send_money{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;
    }
}

.support{
    border: 1px solid $main_color;
    border-radius: 5px;
    padding: 10px 10px 40px 10px;
    width: 30% !important;

    .support_shelter{
        margin-bottom: 10px;
    }

    .money_summ{
        margin-bottom: 25px;
    }

    .money_summ_view{
        background-color: $main_color;
        text-align: center;
        padding: 20px 50px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        margin: 20px 0;
    }
}

.partners{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;

    .name{
        font-size: 24px;
        font-weight: 600;
    }
}

.filter-animals{
    width: max-content;
    margin: 0 auto;
    background-color: rgba(247, 222, 77, 0.2);
    height: max-content;
    margin-bottom: 50px;
    padding: 1%;
    border-radius: 10px;

    .d-flex{
        text-align: center;

        select{
            width: 200px;
        }
    }

    select{
        padding: 5px;
        border-radius: 10px;
        border: 2px solid $main_color;
        background-color: white;
    }
}

.form-new-lost-animal{
    width: 25%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid $main_color;
    text-align: center;

    form{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;

        li{
            list-style-type: none    
        }        
    }


    
}

.login{
    .login-card{
        padding: 20px;
        border-radius: 5px;
        border: 1px solid $main_color;
        text-align: center;

        h3{
            margin-top:20px;
        }

        p{
            span{
                font-size: 18px;
                font-weight: 500;
            }

            a{
                cursor: pointer;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
            }
        }

        .login-button{
            white-space: nowrap;
            background-color: $main_color;
            color: white;
            text-decoration: none;
            padding: 20px 40px;
            border-radius: 10px;
            margin: 20px;
            text-align: center;
        }

        a:hover{
            color: yellow;
        }        
    }

    .main-card{
        height: 500px;
        overflow-x: auto;
    }
}

.all-form{
    display: flex;
    flex-direction: column;
    text-align: center;

    input, select, textarea{
        height: 30px;
        border: 2px solid $main_color;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    label{
        font-size: 18px;
    }
}

.all_cards{
    display: flex;
    flex-direction: column;

    a{
        text-decoration: none;
    }

    .all_card{
        margin: 20px 0;
        padding: 10px;
        border: 1px solid $main_color;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px black;

        .main-info{
            p{
                color: black;

                span{
                    font-size: $second_font_size;
                    font-weight: 500;
                }                
            }
        }

        .shelter-img{
            width: 20%;
            margin: auto 0;
        }
    }
}

#id_date_visits{
    height: 180px !important;
    white-space: pre-wrap !important;
}

.footer{
    margin-top: 100px;
    background-color: $main_color;
    height: 250px;
    padding: 3% 10%;
    display: flex;
    
    .footer-links{
        a{
            color: white;
            margin-right: 10px;
        }

        a:hover{
            color: orange;
        }
    }

    .button{
        margin-top: 10px;
        width: max-content;
        border-radius: 15px;
        height: 10%;
        padding: 10px 20px;
        background-color: $secondary_color;

        a{
            color: white;
            text-decoration: none;
        }
    }

    .footer-contacts{
        margin-left: 50px;
        color: white;

        .contscts-title{
            font-size: $third_font_size;
            margin-top: -10px;
        }

        a{
            color: white;
        }
    }
}



@media screen and (min-width: 540px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1320px) {

}


.element-animation {
    margin: 2rem 0;
    font-size: 3rem;
    
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }

