@charset "UTF-8";
@font-face {
  font-family: Segoe UI Variable;
  /* Имя шрифта */
  src: url(../SegoeUIVF.ttf);
  /* Путь к файлу со шрифтом */ }

a {
  text-decoration: none !important; }

a, p, h1, h2, h3, h4, h5, h6, span {
  font-family: 'Segoe UI Variable';
  font-weight: 600; }

.block-margin {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px; }

.menu-header {
  background: linear-gradient(rgba(17, 81, 117, 0.2), rgba(17, 81, 117, 0), rgba(17, 81, 117, 0.2));
  text-align: center;
  height: 240px;
  align-items: center; }
  .menu-header div .menu_links a {
    color: #115175 !important;
    font-size: 22px;
    padding: 5px; }
  .menu-header div .menu_links .top, .menu-header div .menu_links .bottom {
    background: #FFFFFF;
    mix-blend-mode: darken;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .menu-header div .menu_links .top {
    box-shadow: 0px 6px 4px rgba(17, 81, 117, 0.4);
    border-radius: 0px 0px 40px 40px; }
  .menu-header div .menu_links .bottom {
    box-shadow: 0px -6px 4px rgba(17, 81, 117, 0.4);
    border-radius: 40px 40px 0px 0px; }
  .menu-header .logo {
    width: 80%;
    margin: 0 auto; }
  .menu-header .button-card-header {
    width: 70%; }
  .menu-header .button-card-footer {
    width: 100%; }
  .menu-header .button:hover {
    color: yellow; }

.button-card {
  margin: 20px auto;
  height: 55px;
  overflow: hidden;
  border: 7px solid #85addc;
  border-radius: 15px;
  background-color: #85addc; }
  .button-card .button {
    display: flex;
    height: 105%;
    width: 105%; }
    .button-card .button .img {
      height: 100%;
      padding: 5px;
      padding-right: 10px; }
      .button-card .button .img img {
        width: 30px; }
    .button-card .button .text {
      text-align: left;
      margin: auto;
      padding: 7px;
      width: 100%;
      background-color: white;
      font-size: 18px;
      color: #115175; }

.cards {
  padding-top: 25px;
  padding-bottom: 5vw;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .cards .ones_card {
    border-radius: 0 0 15px 15px;
    padding: 0px !important;
    text-decoration: none;
    margin-right: 0px;
    height: 25vw; }
    .cards .ones_card .img {
      width: max-content;
      position: relative; }
      .cards .ones_card .img .photo {
        width: 220px;
        height: 220px; }
        .cards .ones_card .img .photo img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 100%;
          padding: 5px;
          background-color: #EFF5FC;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25); }
      .cards .ones_card .img .progress-bar-arc {
        position: absolute;
        bottom: -40px;
        right: -190px;
        display: flex;
        align-items: center;
        z-index: 0; }
        .cards .ones_card .img .progress-bar-arc .bar-arc {
          position: relative;
          background-color: #EFF5FC;
          padding: 5px;
          border-radius: 100%;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25); }
          .cards .ones_card .img .progress-bar-arc .bar-arc img {
            position: relative;
            z-index: 1;
            width: 130px; }
          .cards .ones_card .img .progress-bar-arc .bar-arc canvas {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0; }
          .cards .ones_card .img .progress-bar-arc .bar-arc p {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            color: #115175;
            margin-top: 12px;
            margin-left: 2px; }
        .cards .ones_card .img .progress-bar-arc .progress {
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          height: 100px;
          width: 150px;
          background-color: #EFF5FC;
          padding: 5px;
          border-radius: 10px;
          margin-left: -30px;
          z-index: -1;
          display: block; }
          .cards .ones_card .img .progress-bar-arc .progress p {
            margin-left: 40px;
            font-size: 20px;
            font-weight: 400;
            color: #115175;
            margin-bottom: 3px;
            line-height: 22px; }
            .cards .ones_card .img .progress-bar-arc .progress p span {
              font-size: 16px;
              font-weight: 350; }
    .cards .ones_card .text {
      margin-top: 50px;
      color: #115175; }
      .cards .ones_card .text .name {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 5px; }
      .cards .ones_card .text .comment {
        max-height: 100px;
        overflow: hidden;
        font-size: 16px;
        font-weight: 350; }

.how-help .methods-help .col {
  text-align: center; }
  .how-help .methods-help .col p {
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    color: #115175; }

.how-help .take-home {
  text-align: center;
  margin-top: 50px; }
  .how-help .take-home .first-text {
    margin-top: 15px;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    color: #115175; }
  .how-help .take-home .second-text {
    width: 70%;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 400;
    line-height: 43px; }

.why-use-services {
  text-align: center;
  margin-right: 0 !important;
  padding-bottom: 70px; }
  .why-use-services div {
    padding-top: 50px; }
    .why-use-services div img {
      margin-bottom: 10px; }
    .why-use-services div p {
      width: 90%;
      margin: 0 auto;
      font-size: 22px;
      color: #115175;
      font-weight: 700;
      line-height: 43px; }

.now-shelters {
  color: white;
  padding: 10vw;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-bottom: 50px; }
  .now-shelters .row-post {
    position: relative;
    padding: 10px;
    width: 200px;
    height: 200px;
    margin: 0 auto; }
    .now-shelters .row-post img {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1; }
    .now-shelters .row-post .big-name {
      position: relative;
      z-index: 2;
      margin: 35px auto;
      color: #115175;
      font-size: 62px;
      font-weight: 800; }
    .now-shelters .row-post .small-name {
      margin-top: 75px;
      font-size: 36px;
      font-weight: 700;
      line-height: 48px; }

.now-shelters::before {
  background-image: url("/static/img/imgForSite/shelter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  filter: blur(10px);
  position: absolute;
  z-index: -1;
  content: "";
  margin: 0 -15px 0 -15px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.help-us {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px; }
  .help-us .row {
    margin-top: 30px; }
    .help-us .row img {
      width: 80%;
      margin: 0 auto; }

.lost_cards {
  padding-bottom: 50px;
  padding-top: 25px;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  .lost_cards .lost_cards_animal {
    border-radius: 0 0 15px 15px;
    padding: 0px !important;
    margin-right: 0px;
    color: #115175; }
    .lost_cards .lost_cards_animal .img {
      position: relative;
      z-index: 1; }
      .lost_cards .lost_cards_animal .img .post_text {
        position: absolute;
        display: none;
        top: 45%;
        left: 0;
        right: 0;
        text-align: center;
        color: white;
        font-size: 22px;
        font-weight: 600; }
      .lost_cards .lost_cards_animal .img .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .lost_cards .lost_cards_animal .img .background img {
          top: 0;
          right: 0;
          object-fit: contain;
          opacity: 0.8; }
      .lost_cards .lost_cards_animal .img img {
        height: 250px;
        object-fit: cover; }
    .lost_cards .lost_cards_animal .text {
      max-height: 184px;
      overflow: hidden; }
  .lost_cards .lost_cards_animal:hover {
    box-shadow: 0px 0px 10px black; }
    .lost_cards .lost_cards_animal:hover img {
      filter: blur(3px); }
    .lost_cards .lost_cards_animal:hover .background {
      background-color: #85addc;
      z-index: 2;
      width: 100%;
      height: 100%;
      opacity: 0.5; }
    .lost_cards .lost_cards_animal:hover .post_text {
      z-index: 3;
      display: block; }

.hotReports, .Report_animals {
  margin-top: 10px; }
  .hotReports .hotReport-text, .hotReports .Report_animals-text, .Report_animals .hotReport-text, .Report_animals .Report_animals-text {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid #85addc;
    border-radius: 5px 5px 0 0; }
  .hotReports .hotReport-text-active::before, .hotReports .Report_animals-text-active::before, .Report_animals .hotReport-text-active::before, .Report_animals .Report_animals-text-active::before {
    content: "";
    position: absolute;
    top: 97%;
    right: -0.2px;
    left: -2px;
    height: 5px;
    border-left: 2px solid #85addc;
    background: #fff; }
  .hotReports .hotReport-line, .hotReports .Report_animals-line, .Report_animals .hotReport-line, .Report_animals .Report_animals-line {
    padding: 15px;
    border: 2px solid #85addc;
    border-radius: 0 5px 5px 5px;
    width: 100%;
    margin-bottom: 10px; }
    .hotReports .hotReport-line div img, .hotReports .Report_animals-line div img, .Report_animals .hotReport-line div img, .Report_animals .Report_animals-line div img {
      width: 30%; }

.helpPage-video:hover {
  z-index: 10; }

.all_help_description .name {
  font-size: 24px;
  margin-bottom: 0px; }

.all_help_description .city {
  font-size: 18px;
  color: gray; }

.all_help_description .help_description {
  text-align: center;
  width: 50%; }
  .all_help_description .help_description .img-icon-help {
    height: 40px;
    object-fit: contain; }
  .all_help_description .help_description .age {
    font-size: 22px; }

.all_help_description .main-info {
  display: flex;
  align-items: center; }
  .all_help_description .main-info .pick_up_anival {
    margin-left: 20px;
    display: block; }
    .all_help_description .main-info .pick_up_anival .archive {
      padding: 20px;
      font-size: 28px;
      font-weight: 600; }

.all_help_description .need-summ .text {
  font-size: 20px;
  font-weight: 500; }

.all_help_description .need-summ .summ {
  font-size: 22px;
  font-weight: 700;
  color: #115175; }

.help_money {
  width: 60%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  padding: 2%; }
  .help_money .main {
    color: #115175;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0px; }
  .help_money .description {
    color: gray; }
  .help_money .input_money {
    border: 1px solid #115175;
    border-radius: 5px; }
  .help_money .what_is_send_money {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600; }
    .help_money .what_is_send_money a {
      color: #115175; }

.take-animal {
  display: flex;
  flex-direction: column; }

.support {
  margin-bottom: 50px;
  border: 1px solid #85addc;
  border-radius: 5px;
  padding: 10px 10px 40px 10px;
  width: 30% !important; }
  .support .support_shelter {
    margin-bottom: 10px; }
  .support .money_summ {
    margin-bottom: 25px; }
  .support .money_summ_view {
    background-color: #85addc;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 20px 0; }

.partners {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 100px; }
  .partners .name {
    font-size: 24px;
    font-weight: 600; }

.filter-animals {
  display: flex;
  justify-content: center;
  margin-top: -30px !important; }
  .filter-animals .d-flex {
    border-radius: 10px;
    padding: 1%;
    background-color: #EFF5FC;
    height: max-content;
    width: max-content;
    text-align: center; }
    .filter-animals .d-flex select {
      width: 200px; }
  .filter-animals select {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #85addc;
    background-color: white; }

.form-new-lost-animal {
  width: 600px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #85addc;
  text-align: center;
  background-color: white;
  margin-bottom: 50px; }
  .form-new-lost-animal form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto; }
    .form-new-lost-animal form label {
      font-size: 20px;
      color: #115175; }
    .form-new-lost-animal form input {
      height: 35px;
      border: 1px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      margin-bottom: 10px;
      background-color: white;
      padding: 2px 6px; }
    .form-new-lost-animal form li {
      list-style-type: none; }
    .form-new-lost-animal form button {
      background-color: #85addc; }

.about {
  font-size: 20px;
  color: #115175; }
  .about a {
    color: #115175; }
  .about p {
    font-weight: 500; }
  .about ul, .about ol, .about span {
    font-size: 16px;
    font-weight: 600; }

.login-title {
  font-size: 64px;
  font-weight: 700 !important;
  line-height: 85px;
  color: #115175;
  text-align: center;
  padding: 60px 0 30px 0; }

.background-images {
  background: url("../img/imgForSite/background_1.svg") repeat-y, url("../img/imgForSite/background_2.svg") repeat-y 100% 0, radial-gradient(rgba(133, 173, 220, 0.5), white);
  box-shadow: 0px 150px 50px -35px white inset, 0px -150px 50px -35px white inset; }

.login {
  padding-bottom: 100px; }
  .login .login-card .login-button {
    z-index: 3;
    position: relative; }
  .login .login-card .main-card {
    overflow-y: auto;
    position: relative;
    z-index: 1;
    width: 90%;
    margin: 0 auto;
    margin-top: -30px;
    padding: 30px 10px 10px 10px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 6px 4px rgba(17, 81, 117, 0.4);
    border-radius: 0px 0px 40px 40px;
    font-size: 20px;
    color: #115175;
    line-height: 20px; }
    .login .login-card .main-card a {
      cursor: pointer; }
      .login .login-card .main-card a .link {
        font-size: 20px;
        color: #115175;
        line-height: 20px; }
    .login .login-card .main-card .want-take-animal {
      cursor: pointer;
      position: relative; }
      .login .login-card .main-card .want-take-animal span {
        display: none;
        position: absolute;
        width: max-content;
        padding: 5px;
        background-color: white;
        border: 1px solid #85addc;
        border-radius: 5px;
        font-size: 16px;
        top: -20px;
        left: 10px; }
    .login .login-card .main-card .want-take-animal:hover span {
      display: block; }
  .login .login-card .main-card::-webkit-scrollbar {
    background-color: #f9f9fd;
    width: 5px;
    padding-bottom: 20px; }
  .login .login-card .main-card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #115175; }
  .login .login-card .main-card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd; }

#id_choices_type_card li {
  list-style-type: none; }

#id_budget_money {
  height: 160px !important; }

.modal-dialog {
  max-width: 570px !important; }
  .modal-dialog .modal-content {
    background-color: #85addc !important; }
    .modal-dialog .modal-content .modal-header {
      border-bottom: 0 !important;
      position: relative; }
      .modal-dialog .modal-content .modal-header button {
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: white !important;
        border-radius: 20px; }
    .modal-dialog .modal-content .modal-footer {
      border-top: 0 !important; }
      .modal-dialog .modal-content .modal-footer .switch_user_form, .modal-dialog .modal-content .modal-footer .switch_shelter_form {
        font-weight: 600; }
      .modal-dialog .modal-content .modal-footer button {
        border-radius: 30px;
        padding: 5px 15px;
        font-size: 20px; }
      .modal-dialog .modal-content .modal-footer .submit_result {
        background-color: white; }
    .modal-dialog .modal-content #NameLabel {
      font-weight: 700;
      font-size: 28px;
      line-height: 43px;
      margin: 0 auto; }
    .modal-dialog .modal-content .modal-body {
      margin: 0 10px;
      border-radius: 20px;
      background: url("../img/imgForSite/background_1.svg") repeat-y, url("../img/imgForSite/background_2.svg") repeat-y 100% 0, white; }
    .modal-dialog .modal-content .all-form {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 0 10px; }
      .modal-dialog .modal-content .all-form input, .modal-dialog .modal-content .all-form select {
        height: 35px;
        border: 1px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin-bottom: 10px; }
      .modal-dialog .modal-content .all-form input {
        background-color: white;
        padding: 2px 6px; }
      .modal-dialog .modal-content .all-form input[type="radio"] {
        box-shadow: none; }
      .modal-dialog .modal-content .all-form #logo-clear_id {
        display: none; }
      .modal-dialog .modal-content .all-form label[for="logo-clear_id"] {
        display: none; }
      .modal-dialog .modal-content .all-form textarea {
        height: 100px;
        border: 1px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        margin-bottom: 10px; }
      .modal-dialog .modal-content .all-form label {
        font-size: 20px; }

.all_cards {
  display: flex;
  flex-direction: column; }
  .all_cards a {
    text-decoration: none; }
  .all_cards .all_card {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #85addc;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px black;
    position: relative; }
    .all_cards .all_card h2 {
      color: #115175; }
    .all_cards .all_card .main-info {
      display: flex; }
      .all_cards .all_card .main-info p {
        color: black; }
        .all_cards .all_card .main-info p span {
          font-size: 20px;
          font-weight: 500; }
    .all_cards .all_card .shelter-img {
      width: 20%;
      margin: auto 0; }
    .all_cards .all_card .add-info {
      position: absolute;
      top: 20px;
      right: 20px; }
      .all_cards .all_card .add-info .button {
        margin-top: 10px;
        width: max-content;
        border-radius: 15px;
        height: 10%;
        padding: 10px 20px;
        background-color: #85addc; }
        .all_cards .all_card .add-info .button a {
          color: white;
          text-decoration: none; }

#id_date_visits {
  height: 180px !important;
  white-space: pre-wrap !important; }

.footer {
  margin-top: 100px;
  background-color: #85addc;
  height: 250px;
  padding: 3% 10%;
  display: flex; }
  .footer .footer-links a {
    color: white;
    margin-right: 10px; }
  .footer .footer-links a:hover {
    color: orange; }
  .footer .button {
    margin-top: 10px;
    width: max-content;
    border-radius: 15px;
    height: 10%;
    padding: 10px 20px;
    background-color: #115175; }
    .footer .button a {
      color: white;
      text-decoration: none; }
  .footer .footer-contacts {
    margin-left: 50px;
    color: white; }
    .footer .footer-contacts .contscts-title {
      font-size: 22px;
      margin-top: -10px; }
    .footer .footer-contacts a {
      color: white; }

.chat-form {
  z-index: 10;
  height: 400px;
  width: 300px;
  border: 2px solid #85addc;
  border-radius: 10px;
  background-color: #85addc;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  box-shadow: 0px 0px 10px black;
  padding-top: 20px; }
  .chat-form .text-chat {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    text-align: center;
    font-size: 28px;
    font-weight: 700; }
  .chat-form a {
    position: absolute;
    right: 10px;
    top: -20px;
    text-decoration: none;
    color: #85addc;
    cursor: pointer; }
    .chat-form a .hidden {
      font-size: 48px;
      color: #85addc; }
  .chat-form .chat-text {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid #85addc;
    border-radius: 10px;
    height: 280px;
    margin-top: 20px;
    overflow-y: auto;
    padding: 5px;
    background: url("../img/imgForSite/background_1.svg") repeat-y, url("../img/imgForSite/background_2.svg") repeat-y 100% 0, white;
    background-size: 70px, 70px; }
    .chat-form .chat-text p {
      padding: 3px 15px;
      background-color: #cbdef3;
      border-radius: 15px; }
      .chat-form .chat-text p span {
        font-weight: 500; }
  .chat-form .chat-text::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd; }
  .chat-form .chat-text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #115175; }
  .chat-form .chat-text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd; }
  .chat-form .chat-input {
    padding: 2px;
    margin-top: 10px;
    border: 2px solid #85addc;
    border-radius: 10px;
    height: 60px; }
    .chat-form .chat-input form {
      height: 100%;
      display: flex; }
      .chat-form .chat-input form textarea {
        margin-right: 10px;
        border-radius: 10px;
        width: 100.3%;
        height: 101%;
        border: none;
        resize: none; }
      .chat-form .chat-input form button {
        border-radius: 10px;
        background-color: #115175; }

.close-chat-form {
  bottom: 20px;
  right: 20px;
  position: fixed;
  width: 180px;
  height: 35px;
  box-shadow: 0px 0px 10px black;
  border: 2px solid #85addc;
  border-radius: 10px;
  background-color: #115175;
  opacity: 0.9;
  display: none;
  z-index: 10; }
  .close-chat-form a {
    color: white !important;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer; }

.element-animation {
  margin: 2rem 0;
  font-size: 3rem;
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(20px); }

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%); }

/*# sourceMappingURL=styles.css.map */