$fifth_color: #EFF5FC;
$fourth_color: rgba(203, 222, 243, 1);
$third_color: rgba(133, 173, 220, 1);
$secondary_color: rgba(17, 81, 117, 1);
$main_color: rgba(133, 173, 220, 1);

$first_font_size: 16px;
$button_font_size: 18px;
$second_font_size: 20px;
$third_font_size: 22px;
$fourth_font_size: 28px;
$fifth_font_size: 36px;

@font-face {
    font-family: Segoe UI Variable; /* Имя шрифта */
    src: url(../SegoeUIVF.ttf); /* Путь к файлу со шрифтом */
}

a{
    text-decoration: none !important;
}

a, p, h1, h2, h3, h4, h5, h6, span{
    font-family: 'Segoe UI Variable';
    font-weight: 600;
}

.block-margin{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

.menu-header{
    background: linear-gradient(rgba(17, 81, 117, 0.2), rgba(17, 81, 117, 0), rgba(17, 81, 117, 0.2));
    text-align: center;
    height: 240px;
    align-items: center;

    div{
        .menu_links{
            a{
                color: $secondary_color !important;  
                font-size: $third_font_size;
                padding: 5px;
            }

            .top, .bottom{
                background: #FFFFFF;
                mix-blend-mode: darken;                
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;              
            }

            .top{
                box-shadow: 0px 6px 4px rgba(17, 81, 117, 0.4);
                border-radius: 0px 0px 40px 40px;
            }

            .bottom{
                box-shadow: 0px -6px 4px rgba(17, 81, 117, 0.4);
                border-radius: 40px 40px 0px 0px;
            }
        }            
    }

    .logo{
        width: 80%;
        margin: 0 auto;
    }

    .button-card-header{
        width: 70%;
    }

    .button-card-footer{
        width: 100%;
    }

    .button:hover{
        color: yellow;
    }
}

.button-card{
    margin: 20px auto;
    height: 55px;
    overflow: hidden;
    border: 7px solid $main_color;
    border-radius: 15px;
    background-color: $main_color;

    
    .button{
        display: flex;
        height: 105%;
        width: 105%;

        .img{ 
            height: 100%;
            padding: 5px;
            padding-right: 10px;

            img{
                width: 30px;
            }
        }

        .text{
            text-align: left;
            margin: auto;
            padding: 7px;
            width: 100%;
            background-color: white;
            font-size: $button_font_size;
            color: $secondary_color;
            
        }
    }
}

.cards{
    padding-top: 25px;
    padding-bottom: 5vw;
    margin-left: 0 !important; 
    margin-right: 0 !important;

    .ones_card{
        border-radius: 0 0 15px 15px;
        padding: 0px !important;
        text-decoration: none;
        margin-right: 0px;
        height: 25vw;

        .img{
            width: max-content;
            position: relative;
            .photo{
                width: 220px;
                height: 220px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 100%;
                    padding: 5px;
                    background-color: $fifth_color;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
                }                
            }

            .progress-bar-arc{
                position: absolute;
                bottom: -40px;
                right: -190px;
                display: flex;
                align-items: center;
                z-index: 0;

                .bar-arc{
                    position: relative;
                    background-color: $fifth_color;
                    padding: 5px;
                    border-radius: 100%;
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

                    img{
                        position: relative;
                        z-index: 1;
                        width: 130px;
                    }
                    
                    canvas{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }

                    p{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: $third_font_size;
                        color: $secondary_color;
                        margin-top: 12px;
                        margin-left: 2px;
                    }
                }

                .progress{
                    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
                    height: 100px;
                    width: 150px;
                    background-color: $fifth_color;
                    padding: 5px;
                    border-radius: 10px;
                    margin-left: -30px;
                    z-index: -1;
                    display: block;

                    p{
                        margin-left: 40px;
                        font-size: $second_font_size;
                        font-weight: 400;
                        color: $secondary_color;
                        margin-bottom: 3px;
                        line-height: 22px;

                        span{
                            font-size: $first_font_size;
                            font-weight: 350;
                        }
                    }
                }
            }

        }

        .text{
            margin-top: 50px;
            color: $secondary_color;

            .name{
                font-size: $fifth_font_size;
                font-weight: 700;
                margin-bottom: 5px;
            }

            .comment{
                max-height: 100px;
                overflow: hidden;
                font-size: $first_font_size;
                font-weight: 350;
            }
        }
    }
}

.how-help{
    .methods-help{
        .col{
            text-align: center;

            p{
                margin-top: 10px;
                font-size: $fifth_font_size;
                font-weight: 700;
                line-height: 48px;
                color: $secondary_color;
            }
        }
    }    

    .take-home{
        text-align: center; 
        margin-top: 50px;

        .first-text{
            margin-top: 15px;
            font-size: $fifth_font_size;
            font-weight: 700;
            line-height: 48px;
            color: $secondary_color;
        }

        .second-text{
            width: 70%;
            margin: 0 auto;
            font-size: $fourth_font_size;
            font-weight: 400;
            line-height: 43px;
        }
    }
}

.why-use-services{
    text-align: center;
    margin-right: 0 !important;
    padding-bottom: 70px;

    div{
        padding-top: 50px;

        img{
            margin-bottom: 10px;
        }

        p{
            width: 90%;
            margin: 0 auto;
            font-size: $third_font_size;
            color: $secondary_color;
            font-weight: 700;
            line-height: 43px;
        }
    }
}

.now-shelters{
    color: white;
    padding: 10vw;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-bottom: 50px;

    .row-post{
        position: relative;
        padding: 10px;
        width: 200px;
        height: 200px;
        margin: 0 auto;

        img{
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
        }

        .big-name{
            position: relative;
            z-index: 2;
            margin: 35px auto;
            color: $secondary_color;
            font-size: 62px;
            font-weight: 800;
        }

        .small-name{
            margin-top: 75px;
            font-size: $fifth_font_size;
            font-weight: 700;
            line-height: 48px;
        }
    }
}

.now-shelters::before{
    background-image: url('/static/img/imgForSite/shelter.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    filter: blur(10px);
    position: absolute;
    z-index: -1;
    content: "";
    margin: 0 -15px 0 -15px;
    left: 0; right: 0; top: 0; bottom: 0;
}

.help-us{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

    .row{
        margin-top: 30px;

        img{
            width: 80%;
            margin: 0 auto;
        }        
    }
}

.lost_cards{
    padding-bottom: 50px;
    padding-top: 25px;
    margin-left: 0 !important; 
    margin-right: 0 !important;

    .lost_cards_animal{
        border-radius: 0 0 15px 15px;
        padding: 0px !important;
        margin-right: 0px;
        color: $secondary_color;

        .img{
            position: relative;
            z-index: 1;

            .post_text{
                position: absolute;
                display: none;
                top: 45%;
                left: 0;
                right: 0;
                text-align: center;
                color: white;
                font-size: 22px;
                font-weight: 600;
            }

            .background{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                img{
                    top: 0;
                    right: 0;
                    object-fit: contain;
                    opacity: 0.8;
                }
            }

            img{
                height: 250px;
                object-fit: cover;
            }
        }

        .text{
            max-height: 184px;
            overflow: hidden;
        }
    }

    .lost_cards_animal:hover{
        box-shadow: 0px 0px 10px black;
        
        img{
            filter: blur(3px);
        }

        .background{
            background-color: $main_color;
            z-index: 2;
            width: 100%;
            height: 100%;
            opacity: 0.5;
        }

        .post_text{
            z-index: 3;
            display: block;
        }
    } 
}


.hotReports, .Report_animals{
    margin-top: 10px;

    .hotReport-text, .Report_animals-text {
        position: relative;
        margin-right: 10px;
        cursor: pointer;
        padding: 10px;
        border: 2px solid $main_color;
        border-radius: 5px 5px 0 0;
    }

    .hotReport-text-active::before, .Report_animals-text-active::before{
        content: "";
        position: absolute;
        top: 97%;
        right: -0.2px;
        left: -2px;
        height: 5px;
        border-left: 2px solid $main_color;
        background: #fff;
    }

    .hotReport-line, .Report_animals-line{
        padding: 15px;
        border: 2px solid $main_color;
        border-radius: 0 5px 5px 5px;
        width: 100%;
        margin-bottom: 10px;

        div{
            img{
                width: 30%;
            }
        }
    }
}



.helpPage-video:hover{
    z-index: 10;
}

.all_help_description{
    .name{
        font-size: 24px;
        margin-bottom: 0px;
    }

    .city{
        font-size: 18px;
        color: gray;
    }

    .help_description{
        text-align: center;
        width: 50%;

        .img-icon-help{
            height: 40px;
            object-fit: contain;
        }

        .age{
            font-size: $third_font_size;
        }
    }

    .main-info{
        display: flex;
        align-items: center;

        .pick_up_anival{
            margin-left: 20px;
            display: block;

            .archive{
                padding: 20px;
                font-size: $fourth_font_size;
                font-weight: 600;
            }
        }
    }

    .need-summ{
        .text{
            font-size: $second_font_size;
            font-weight: 500;
        }

        .summ{
            font-size: $third_font_size;
            font-weight: 700;
            color: $secondary_color;
        }
    }
}

.help_money{
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    padding: 2%;

    .main{
        color: $secondary_color;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 0px;
    }

    .description{
        color: gray;
    }

    .input_money{
        border: 1px solid $secondary_color;
        border-radius: 5px;
    }

    .what_is_send_money{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 600;

        a{
            color: $secondary_color;
        }
    }
}

.take-animal{
    display: flex;
    flex-direction: column;
}

.support{
    margin-bottom: 50px;
    border: 1px solid $main_color;
    border-radius: 5px;
    padding: 10px 10px 40px 10px;
    width: 30% !important;

    .support_shelter{
        margin-bottom: 10px;
    }

    .money_summ{
        margin-bottom: 25px;
    }

    .money_summ_view{
        background-color: $main_color;
        text-align: center;
        padding: 20px 50px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
        margin: 20px 0;
    }
}

.partners{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;

    .name{
        font-size: 24px;
        font-weight: 600;
    }
}

.filter-animals{
    display: flex;
    justify-content: center;
    margin-top: -30px !important;

    .d-flex{
        border-radius: 10px;
        padding: 1%;
        background-color: $fifth_color;
        height: max-content;
        width: max-content;
        text-align: center;

        select{
            width: 200px;
        }
    }

    select{
        padding: 5px;
        border-radius: 10px;
        border: 2px solid $main_color;
        background-color: white;
    }
}

.form-new-lost-animal{
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid $main_color;
    text-align: center;
    background-color: white;
    margin-bottom: 50px;
    

    form{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;

        label{
            font-size: $second_font_size;
            color: $secondary_color;
        }

        input{
            height: 35px;
            border: 1px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            margin-bottom: 10px;
            background-color: white;
            padding: 2px 6px;
        }

        li{
            list-style-type: none    
        }    
        
        button{
            background-color: $main_color;
        }
    }
}

.about{
    font-size: $second_font_size;
    color: $secondary_color;

    a{
        color: $secondary_color;
    }

    p{
        font-weight: 500;
    }

    ul, ol, span {
        font-size: $first_font_size;
        font-weight: 600;
    }
}

.login-title{
    font-size: 64px;
    font-weight: 700 !important;
    line-height: 85px;
    color: $secondary_color;
    text-align: center;
    padding: 60px 0 30px 0;
}

.background-images{
    background: url('../img/imgForSite/background_1.svg') repeat-y,
                url('../img/imgForSite/background_2.svg') repeat-y 100% 0,
                radial-gradient(rgba(133, 173, 220, 0.5), white);
    box-shadow: 0px 150px 50px -35px rgb(255, 255, 255) inset,
                0px -150px 50px -35px  rgb(255, 255, 255) inset;
}

.login{
    padding-bottom: 100px;

    .login-card{
        .login-button{
            z-index: 3;
            position: relative;
        }

        .main-card{
            overflow-y: auto;
            position: relative;
            z-index: 1;
            width: 90%;
            margin: 0 auto;
            margin-top: -30px;
            padding: 30px 10px 10px 10px;
            height: 400px;
            background: #FFFFFF;
            box-shadow: 0px 6px 4px rgba(17, 81, 117, 0.4);
            border-radius: 0px 0px 40px 40px;
            font-size: $second_font_size;
            color: $secondary_color;
            line-height: 20px;
            
            a{
                cursor: pointer;

                .link{
                    font-size: $second_font_size;
                    color: $secondary_color;
                    line-height: 20px;
                }                
            }

            .want-take-animal{
                cursor: pointer;
                position: relative;

                span{
                    display: none;
                    position: absolute;
                    width: max-content;
                    padding: 5px;
                    background-color: white;
                    border: 1px solid $main_color;
                    border-radius: 5px;
                    font-size: $first_font_size;
                    top: -20px;
                    left: 10px;
                }
            }

            .want-take-animal:hover{
                span{
                    display: block;
                }
            }
        }

        .main-card::-webkit-scrollbar {
            background-color: #f9f9fd;
            width: 5px;
            padding-bottom: 20px;
        }
        
        .main-card::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $secondary_color;
        }
        
        .main-card::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
            border-radius: 10px;
            background-color: #f9f9fd;
        }
    }
}

#id_choices_type_card li{
    list-style-type: none;
}

#id_budget_money{
    height: 160px !important;
}

.modal-dialog{
    max-width: 570px !important;

    .modal-content{
        background-color: $third_color !important;
    
        .modal-header{
            border-bottom: 0!important;
            position: relative;
    
            button{
                position: absolute;
                right: 20px;
                top: 20px;
                background-color: white !important;
                border-radius: 20px;
            }
        }
    
        .modal-footer{
            border-top: 0 !important;

            .switch_user_form, .switch_shelter_form{
                font-weight: 600;
            }
            
            button{
                border-radius: 30px;
                padding: 5px 15px;
                font-size: $second_font_size;
            }
    
            .submit_result{
                background-color: white;
            }
        }
    
        #NameLabel{
            font-weight: 700;
            font-size: $fourth_font_size;
            line-height: 43px;
            margin: 0 auto
        }
    
        .modal-body{
            margin: 0 10px;
            border-radius: 20px;
            background: url('../img/imgForSite/background_1.svg') repeat-y,
            url('../img/imgForSite/background_2.svg') repeat-y 100% 0,
            white
        }
    
        .all-form{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 10px;
    
            input, select{
                height: 35px;
                border: 1px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                border-radius: 15px;
                margin-bottom: 10px;
            }
    
            input{
                background-color: white;
                padding: 2px 6px;
            }

            input[type="radio"]{
                box-shadow: none;
            }

            #logo-clear_id{
                display: none;
            }

            label[for="logo-clear_id"]{
                display: none;
            }
    
            textarea{
                height: 100px;
                border: 1px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                border-radius: 15px;
                margin-bottom: 10px;
            }
    
            label{
                font-size: $second_font_size;
            }
        }    
    }
}

.all_cards{
    display: flex;
    flex-direction: column;

    a{
        text-decoration: none;
    }

    .all_card{
        margin: 20px 0;
        padding: 10px;
        border: 1px solid $main_color;
        border-radius: 10px;
        box-shadow: inset 0px 0px 5px black;
        position: relative;

        h2{
            color: $secondary_color;
        }

        .main-info{
            display: flex;

            p{
                color: black;

                span{
                    font-size: $second_font_size;
                    font-weight: 500;
                }                
            }
        }

        .shelter-img{
            width: 20%;
            margin: auto 0;
        }

        .add-info{
            position: absolute;
            top: 20px;
            right: 20px;

            .button{
                margin-top: 10px;
                width: max-content;
                border-radius: 15px;
                height: 10%;
                padding: 10px 20px;
                background-color: $main_color;
        
                a{
                    color: white;
                    text-decoration: none;
                }   
            }
        }
    }
}

#id_date_visits{
    height: 180px !important;
    white-space: pre-wrap !important;
}

.footer{
    margin-top: 100px;
    background-color: $main_color;
    height: 250px;
    padding: 3% 10%;
    display: flex;
    
    .footer-links{
        a{
            color: white;
            margin-right: 10px;
        }

        a:hover{
            color: orange;
        }
    }

    .button{
        margin-top: 10px;
        width: max-content;
        border-radius: 15px;
        height: 10%;
        padding: 10px 20px;
        background-color: $secondary_color;

        a{
            color: white;
            text-decoration: none;
        }
    }

    .footer-contacts{
        margin-left: 50px;
        color: white;

        .contscts-title{
            font-size: $third_font_size;
            margin-top: -10px;
        }

        a{
            color: white;
        }
    }
}

.chat-form{
    z-index: 10;
    height: 400px;
    width: 300px;
    border: 2px solid $main_color;
    border-radius: 10px;
    background-color: $main_color;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    padding-top: 20px;

    .text-chat{
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        text-align: center;
        font-size: $fourth_font_size;
        font-weight: 700;
    }

    a{
        position: absolute;
        right: 10px;
        top: -20px;
        text-decoration: none;
        color: $main_color;
        cursor: pointer;

        .hidden{
            font-size: 48px;
            color: $main_color
        }
    }

    .chat-text{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        border: 2px solid $main_color;
        border-radius: 10px;
        height: 280px;
        margin-top: 20px;
        overflow-y: auto;
        padding: 5px;
        background: url('../img/imgForSite/background_1.svg') repeat-y,
        url('../img/imgForSite/background_2.svg') repeat-y 100% 0,
        white;
        background-size: 70px, 70px;

        p{
            padding: 3px 15px;
            background-color: $fourth_color;
            border-radius: 15px;

            span{
                font-weight: 500;
            }
        }
    }

    .chat-text::-webkit-scrollbar {
        width: 10px;
        background-color: #f9f9fd;
    }
    
    .chat-text::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $secondary_color;
    }
    
    .chat-text::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: #f9f9fd;
    }


    .chat-input{
        padding: 2px;
        margin-top: 10px;
        border: 2px solid $main_color;
        border-radius: 10px;
        height: 60px;   
        
        form{
            height: 100%;
            display: flex;

            textarea{
                margin-right: 10px;
                border-radius: 10px;
                width: 100.3%;
                height: 101%;
                border: none;
                resize: none;
            }    
            
            button{
                border-radius: 10px;
                background-color: $secondary_color;
            }
        }


    }
}

.close-chat-form{
    bottom: 20px;
    right: 20px;
    position: fixed;
    width: 180px;
    height: 35px;
    box-shadow: 0px 0px 10px black;
    border: 2px solid $main_color;
    border-radius: 10px;
    background-color: $secondary_color;
    opacity: 0.9;
    display: none;
    z-index: 10;

    a{
        color: white !important;
        display: flex;
        justify-content: center;
        font-size: $second_font_size;
        font-weight: 500;
        cursor: pointer;
    }
}

@media screen and (min-width: 540px) {

}

@media screen and (min-width: 992px) {

}

@media screen and (min-width: 1320px) {

}


.element-animation {
    margin: 2rem 0;
    font-size: 3rem;
    
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }

