{% extends 'base.html' %}

{% block content %}
<div class="container-fluid background-images p-5">
    <p>Уважаемые друзья, наш проект «Лапку и Сердце» имеет амбициозные цели и с вашей помощью мы бы хотели объединить все существующие приюты для безнадзорных животный в единое сообщество которое будет комплексно оказывать взаимную поддержку, обмениваться опытом, и в первую очередь обеспечивать животных надлежащими условиями содержания помогая им обрести свой дом. Если вы готовы стать участником проекта мы искренне будем рады видеть вас среди наших друзей<br>
        Наши цели:<br>
        <ol>
            <li>Создание площадки федерального уровня, которая будет консолидировать и объединять все приюты безнадзорных животных, а также оказывать им комплексную финансовую поддержку;</li>
            <li></li>
        </ol>
        •	 <br>
        •	Создание единого сервиса по поиску пропавших домашних животных для удобства поиска и широкого охвата аудитории при поиске пропавших животных<br>
        •	Формирование сообщества граждан и организаций, которые заинтересованы в содействии решения проблем с безнадзорными животными и готовы консолидироваться с целью привлечения административной поддержки, корректировки и контроля законодательных актов посредством общественных инициатив.<br>
    </p>
</div>
{% endblock %}