{% extends 'base.html' %}

{% load Main_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="hotReports">
        <div class="d-flex" id="hotReport_text">
            {% for hotReport in shelter.hotReport.all %}
                <div class="hotReport-text">
                    {{hotReport.name_hot}}
                </div>
            {% endfor %}            
        </div>
        <div style="display: none">
            {% for hotReport in shelter.hotReport.all %}
            <div class="hotReport-text-render">
                <p>{{hotReport.text_hot}}</p>
            </div>
            {% endfor %} 
        </div>
        <div class="hotReport-line" id="hotReport_line"></div>
    </div>
</div>
<section class="container-fluid" style="margin-right: 0">
    <div class="row">
        <div id="carouselExampleControls" class="container carousel slide help_carousel col-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/{{animal.photo}}" class="d-block w-100" style="height: 500px; object-fit:cover;" alt="...">
                </div>
                <div class="carousel-item helpPage-video">
                    <video class="d-block w-100" style="height: 500px; object-fit:cover;" controls> <source src="/{{animal.video}}" type="video/mp4"></video>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
            </button>
        </div>
        <div class="col-5 all_help_description">
            <div class="main-info">
                <div>
                    <p class="name">{{animal.name}}</p>
                    <p class="city" style="margin-bottom: 0;">{{animal.choice_shelter}}</p>
                    <p class="city">{{animal.city}}</p>                  
                </div>
                <div class="pick_up_anival">
                    <div class="button-card">
                        <a href="#" class="button" data-bs-target="#TakeAnimal" data-bs-toggle="modal">
                            <div class="img"><img src="/static/img/imgForSite/logo_button.svg"></div>
                            <div class="text">Забрать питомца</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row help_description">
                <div class="col-3">
                    <p class="mb-0 age img-icon-help">{{animal.age}}</p>
                    <p>лет</p>
                </div>
                <div class="col-3">
                    {% if animal.gender == 'Девочка' %}
                        <img class="w-50 img-icon-help" src="/static/img/gender/woman.svg">
                        <p>девочка</p>
                    {% endif %}
                    {% if animal.gender == 'Мальчик' %}
                        <img class="w-50 img-icon-help" src="/static/img/gender/man.svg">
                        <p>мальчик</p>
                    {% endif %}
                </div>
                <div class="col-6">
                    <img class="w-50 img-icon-help" src="/static/img/gender/breed.png">
                    <p>{{ animal.breed }}</p>
                </div>
            </div>
            <div>
                <p class="need-summ"><span class="text">Сумма: </span><span class="summ">{{animal.summ_now}} руб</span><span class="text"> из: </span><span class="summ">{{animal.summ}} руб</span></p>
            </div>
            <div class="help_money">
                <p class="main">Быстрое пополнение копилки<br>«Срочная помощь»</p>
                <p class="description">Питомцы с отметкой «Срочная помощь» нуждаются в твоей поддержке. Выбери сумму, чтобы пополнить копилку для их нужд.</p>
                <p>Введите сумму: <input class="input_money" type="text"></p>
                <div class="button-card">
                    <a href="#" class="button">
                        <div class="img"><img src="/static/img/imgForSite/logo_button.svg"></div>
                        <div class="text">Пожертвовать</div>
                    </a>
                </div>
                <p class="what_is_send_money">На что пойдут деньги <a href="#">узнать</a></p>
            </div>
        </div>        
    </div>
</section>
<section class="container">
    <div class="Report_animals">
        <div class="d-flex" id="Report_animals">
            <div class="Report_animals-text">
                О питомце
            </div>
            <div class="Report_animals-text">
                Отчеты
            </div>
        </div>
        <div style="display: none">
            <div class="Report_animals-text-render">
                <p>{{animal.comment}}</p>
            </div>
            <div class="Report_animals-text-render">
                <div>
                    {% for animal_report in animal.animalReport.all %}
                    <h3>{{animal_report.report_animal}}</h3>
                    <p>{{animal_report.text_animal}}</p>
                    <img src="/{{animal_report.file_animal}}">
                    <p>{{animal_report.date_animal}}</p>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="Report_animals-line" id="Report_animals_line"></div>
    </div>
</section>

<div class="modal fade" id="TakeAnimal" name="all_forms" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="FormTakeAnimal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Забрать {{animal.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" enctype="multipart/form-data" method="POST" class="login-model-form">
          <div class="modal-body all-form">
              <div class="take-animal">
                {% csrf_token %}
                {{form_take_animal}}
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-primary">Забрать</button>
          </div>
        </form>
      </div>
    </div>
<script type="text/javascript" src={% static "js/helpPage.js" %}?{% cache_bust %}></script>

</div>


{% endblock %}