{% extends 'base.html' %}

{% load help_filter %}

{% block content %}
<section class="container-fluid background-images">
    <p class="login-title">Все питомцы {{name_shelter}}</p>
        <div class="cards row g-5">
            {% for card in shelter_collection %}
            <div class="col-4 col-offset-2 card_animal" name="{{card.choice_shelter}}+{{card.city}}">
                <a href="{% url 'helpPage' card.id %}" class="ones_card">
                    <div class="img">
                        <div class="photo">
                            <img src="/{{card.photo}}">
                        </div>
                        <div class="progress-bar-arc">
                            <div class="bar-arc">
                                <canvas id="canvas_{{card.id}}" onload="drawArc('canvas_{{card.id}}', {% persent card.summ_now card.summ %});"></canvas>
                                <img src="/static/img/imgForSite/progress_arc.png">
                                <p>{% persent card.summ_now card.summ %}%</p>
                            </div>
                            <div class="progress">
                                <p>{{card.summ}}<br><span>Идет сбор</span></p>
                                <p> {{card.summ_now}}<br><span>Собрано</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        <p class="name">{{card.name}}</p>
                        <p class="comment">{{card.comment}}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
